* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* color-switcher */
.color-switcher-wrapper,
.timer-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-switcher-btn {
  padding: 15px 20px !important ;

  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  background-color: #ececec;
  border: 1px solid #333333 !important;
  border-radius: 2px;
}

.color-switcher-btn:hover {
  background-color: #e0e0e0;
}

/* timer */

.timer-wrapper {
  outline: 1px solid rgba(216, 216, 216, 0.178);
  padding: 20px;
}

.timer-input {
  padding: 0 10px;
  width: 100%;
  height: 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  border-color: #585858;
}

.timer-input:focus {
  border-color: #7ba5ff;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-btn {
  margin-left: 10px;
  padding: 5px 10px !important ;
  height: 30px;

  text-align: center;
  font-weight: 600;

  cursor: pointer;

  background-color: #f0f0f0;
  border: 1px solid #707070 !important;
  border-radius: 2px;
}

.timer-btn:hover,
.timer-btn:focus {
  background-color: #e7e7e7;
}

.field {
  width: 100px;
}

.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.value,
.label {
  display: block;
  cursor: default;

  text-transform: uppercase;
  font-size: 19px;
  text-align: center;
}

.value {
  font-size: 32px;
}

/* promises */
